.storage-item:hover {
    background-color: #eee;
}

.storage-item:hover i {
    visibility: visible;
}

.option-button {
    visibility: hidden;
}

.storage-item > * {
    cursor: pointer;
}

.as-link {
    background: none !important;
    border: none;
    padding: 0 !important;
    cursor: pointer;
}

.as-link:hover {
    text-decoration: underline;
}
